slnx.sqlite
/DREAM3DProj.includes
CMakeLists.txt.*
/[Bb]uild/
/[Bb]uilds/
/Build-ninja/
/Build-Xcode/
/zRel/
/CleanBuild/
.cproject
.project
/clang/
/xcode/
/x64/
/i386/
/qtcreator/
/Build2/
/QT_BUILD/
Support/Scripts/GMT/gmt.history
.settings
.floo
/ninja/
/linux/
.idea
/Debug/
/Release/
.ctags
.vscode
.commit-template
/ExternalProjects
.DS_Store
.cmake
venv/
__pycache__/
/.mypy_cache/
release
debug

# Python build-related files
pyebsd/build/
pyebsd/ebsd.egg-info/
pyebsd/dist/
